@{
    ViewData["Title"] = "Home Page";

}

<header>
    <div style="background-image: url('/images/containers-aerial.jpg'); background-position: center bottom; min-height: 200px;">
        <div class="row">
            <div class="col-sm-2">
                <img src="~/images/accelerateContainers.png" class="img-responsive" />

            </div>
            <div class="col-sm-10">
                <h1>Azure Containers Comparison</h1>
            </div>
        </div>
    </div>
</header>
<content>
    <div class="row">
        <div class="col-sm-12">
            <h3>Select the services you want to compare:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="checkbox" name="chkACI" id="chkACI" class="css-checkbox" value="@Services.ACI" /><label for="chkACI" class="css-label">@Services.ACI.GetDisplayName()</label>
            <input type="checkbox" name="chkAKS" id="chkAKS" class="css-checkbox" value="@Services.AKS" /><label for="chkAKS" class="css-label">@Services.AKS.GetDisplayName()</label>
            <input type="checkbox" name="chkAppService" id="chkAppService" class="css-checkbox" value="@Services.AppService" /><label for="chkAppService" class="css-label">@Services.AppService.GetDisplayName()</label>
            <input type="checkbox" name="chkPCF" id="chkPCF" class="css-checkbox" value="@Services.CloudFoundry" /><label for="chkPCF" class="css-label">@Services.CloudFoundry.GetDisplayName()</label>
            <input type="checkbox" name="chkOpenShift" id="chkOpenShift" class="css-checkbox" value="@Services.OpenShift" /><label for="chkOpenShift" class="css-label">@Services.OpenShift.GetDisplayName()</label>
            <input type="checkbox" name="chkServiceFabric" id="chkServiceFabric" class="css-checkbox" value="@Services.ServiceFabric" /><label for="chkServiceFabric" class="css-label">@Services.ServiceFabric.GetDisplayName()</label>
            <div id="loadingDiv">
                <img src="https://loading.io/spinners/bricks/index.block-rotate-loading-gif.gif" class="loadingImage" />
            </div>
        </div>
    </div>
    <h4>General Information</h4>
    <div class="row" id="pnlGeneral"></div>
    <br />

    <h4>Hosting Model</h4>
    <div class="row" id="pnlHosting"></div>
    <br />

    <h4>DevOps</h4>
    <div class="row" id="pnlDevOps"></div>
    <br />

    <h4>Scalability</h4>
    <div class="row" id="pnlScalability"></div>
    <br />

    <h4>Availability</h4>
    <div class="row" id="pnlAvailability"></div>
    <br />

    <h4>Security</h4>
    <div class="row" id="pnlSecurity"></div>
    <br />

    <h4>Service Discovery</h4>
    <div class="row" id="pnlDiscovery"></div>
    <br />

    <h4>Integration</h4>
    <div class="row" id="pnlIntegration"></div>
    <br />

    <h4>Cost &Aacute; Support</h4>
    <div class="row" id="pnlCostSupport"></div>
    <br />
</content>